<tr>
    <td><%= product.name%></td>
    <td><%= product.description%></td>
    <td>
        <div style='background-image:url(<%= product.picture%>)' class="thumbnail custom"></div>
    </td>
    <td><%= product.price%>$</td>
    <td><%=product.quantity%></td>
    <td>
        <form method="post" action="/cart/delete">
        <button name="product" value="<%=product._id%>" class="btn btn-warning custom">Remove</button>
        </form>
    </td>
    <td>
        <form method="post" action="/cart/edit">
        <button name="product" value="<%= product._id%>" class="btn btn-primary custom">Edit</button>
        </form>
    </td>
</tr>