<tr>
    <td><%= product.name%></td>
    <td><%= product.description%></td>
    <td>
        <div style='background-image:url(<%= product.picture%>)' class="thumbnail custom"></div>
    </td>
    <td><%= product.price%>$</td>
    <td><input id="<%product._id%>" type="number" min="0" value="0"></td>
    <td>
        <button id="<%= product._id%>" class="btn btn-success custom">Add to cart</button>
    </td>
</tr>